@import url("../Inicio/Inicio.css");

.productos-container {
  margin-top: 120px;
  text-align: center;
  padding: 20px;
}

.productos-container h2 {
  color: #ff4b7b;
  margin-bottom: 30px;
  font-size: 30px;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  text-align: left;
}

.card-content h3 {
  color: #ff4b7b;
  font-size: 20px;
  margin-bottom: 5px;
}

.card-content p {
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}

.card-content .precio {
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-comprar {
  background-color: #ff4b7b;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-comprar:hover {
  transform: scale(1.1);
  background-color: #ff295e;
}
